@toolbar-height: 26px;

@toolbar-item-hover-color: #333;

.ToolbarButton {
  position: relative;
  background-color: transparent;
  padding: 0;
  height: @toolbar-height;
  border: none;

  white-space: nowrap;
  overflow: hidden;
  min-width: 28px;
  border-radius: 0;

  &:hover {
    color: @toolbar-item-hover-color;
  }

  &:focus:active::after {
      position: absolute;
      top: 2px;
      bottom: 2px;
      left: 2px;
      right: 2px;
      background-color: rgba(0, 0, 0, 0.08);
      border-radius: 2px;
      content: "";
  }
}
